@model IEnumerable<NutriHub.Models.Cita>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPa.cshtml";
}
<div class="view-container">
<h2>Citas</h2>

<table class="table table-striped table-bordered" id="example">
    <thead>
    <tr>
        <th>
            Fecha
        </th>
        <th>
            Hora
        </th>
        <th>
            Estado
        </th>
        <th>
            Nutricionista
        </th>
        
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nutricionista.cedula)
            </td>
        </tr>
    }
    </tbody>
</table>
</div>